---
import GoBackIcon from '@/assets/icons/go-back.svg'

interface Props {
  slug?: string
}

const { slug = '' } = Astro.props
---

<a
  id="back-button"
  href={slug ? `/#post-${slug}` : '/'}
  class="flex items-center gap-1.5 text-3.5 c-secondary/60 transition-colors ease-out hover:c-primary active:scale-95!"
  aria-label="Go back"
>
  <GoBackIcon
    aria-hidden="true"
    class="aspect-square w-3.5"
    fill="currentColor"
  />
  <span>返回首页</span>
</a>
